<!-- <div class="content" ng-controller="homePage">
<h1>Utah Jailbirds</h1>
	{{test}}
	<p ng-repeat="house in homes">
		{{house.???}}
	</p>
</div>

-->

<div id="header">Washington County Bookings</div>


	 <div id="backgroundfix">
	 	<%= image_tag 'style.jpg', :id => 'picture' %>
	 	<div id="picture-nav">
	 		
		 	<a href="onClick="onClick()""><%= image_tag 'facebook30.png', :id => "location_image"%></a>
		 	<a href="#"data-toggle="modal" data-target="#myModal"><%= image_tag 'personal19.png', :id => "personal_image"%></a>
		 	<a href="https://twitter.com/share?text=I can't believe they got booked! check it out at:&url=http://www.utahjailbirds.com" data-lang="en"><%= image_tag 'twitter.png', :id => "twitter_image"%></a>
	 		
	 	</div>
	 </div>
