// Place all the styles related to the jails controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.navbar-inner{
	background-image:none;
	background-color:rgba(234,234,234,1);
}

table {
	width:450px;
	border:solid 1px #000;
	margin:auto;
}

.name {
	width:200px;
}

/*table tr:first-child {
	width: 160px;
}*/

.picture{
	width:160px;
}