// Place all the styles related to the jails controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.navbar-inner{
	background-image:none;
	background-color:rgba(234,234,234,1);
	line-height:68px;
}


ul.nav li a {
	margin: 0;
	padding: 0;
	line-height:48px;
}

table {
	width:450px;
	border:solid 1px #000;
	margin:auto;
}

.name {
	width:200px;
}

/*table tr:first-child {
	width: 160px;
}*/

.picture{
	width:160px;
}

body {
	background-image:
    	linear-gradient(
     	to top, 
    	#B2B2B2, white
    );
}

#backgroundFixed {
	position: fixed;
	z-index: -1;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	background-repeat: none;
	background-attachment: fixed;
	background-size: 100% 100%;
		background-image:
    	linear-gradient(
     	to top, 
    	#B2B2B2, white
    );

}

#brand {
	font-size: 30px;
	margin-left: 22px;
	font-weight: bold;
	color: #4C4C4C;
	font-family: impact;
}
