<!DOCTYPE html>
<html>
<head>
  <title>Jail</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>



<div class="container">
	<div class="row">
		<div class="span3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In eros neque, rutrum a adipiscing vitae, congue eu augue. Integer eu urna dapibus ligula hendrerit egestas. Mauris congue, elit eget euismod sodales, metus turpis viverra massa, sit amet pretium lorem tortor vel elit. Donec sit amet semper magna. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec auctor, arcu sit amet sodales elementum, justo mauris gravida arcu, et condimentum dui orci vitae diam. Duis posuere ante justo, a porttitor diam ultricies eu. Pellentesque vel justo quis dolor accumsan dignissim. In congue lectus nec nunc feugiat bibendum. Vivamus ipsum dolor, hendrerit id justo eu, ullamcorper convallis purus. Praesent venenatis facilisis quam, vel egestas lorem posuere in. Curabitur adipiscing purus mauris, ac aliquet nibh hendrerit tempus. Suspendisse consequat augue sodales erat tristique, vitae mollis ligula auctor. Curabitur congue viverra fermentum.

		</div>
		<div class="span9"><%= yield %></div>

	</div>
</div>


</body>
</html>
